/*Código basado en el curso: Curso React 2024 https://www.youtube.com/watch?v=7iobxzd_2wY"*/

.user-profile-card {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: .8rem;
  justify-content: space-between;
}

.user-profile-card-header {
  display: flex;
  align-items: center;
  gap: 4px
}

.user-profile-card-info {
  display: flex;
  flex-direction: column;
}

.user-profile-card-infoUserName {
  opacity: .6;
}

.user-profile-card-avatar {
  width: 48px;
  height: 48px;
  border-radius: 1000px;
}

.user-profile-card-button {
  cursor: pointer;
  margin-left: 16px;
  border: 0;
  border-radius: 999px;
  padding: 6px 16px;
  font-weight: bold;
  border: 1px solid #000;
  transition: .3s ease background-color;
}

.user-profile-card-button:hover {
  opacity: .8;
}

.user-profile-card-text {
  display: block;
}

.user-profile-card-button.is-following {
  border: 1px solid #bbb;
  background: transparent;
  color: #fff;
  width: 140px;
}

.user-profile-card-button.is-following:hover {
  background-color: rgba(255, 0, 0, 0.178);
  color: red;
  border: 1px solid red;
  transition: .3s ease all;
  opacity: 1;
}

.user-profile-card-button.is-following:hover .user-profile-card-text {
  display: none;
}

.user-profile-card-button.is-following:hover .user-profile-card-unfollow {
  display: block;
}

.user-profile-card-unfollow {
  display: none;
}